ul {
    list-style: none;
}
.layout_footer ul li{
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
}
.layout_footer h1 {
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
}
.layout_footer{
    background-color: #D7DBE0;
    margin-top: 76px;
}
.footer_blocks{
    padding: 63px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_info_blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_location{
    margin-right: 99px;
}
.location_name ul li+li {
    margin-top: 16px;
}
.info_name ul li+li {
    margin-top: 16px;
}
.footer_logo span {
    font-family: Oswald ,serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    display: flex;
    align-items: center;
}
.footer_logo span::before{
    content: '';
    display: block;
    width: 57px;
    height: 71px;
    background-image: url('./img/teeth.svg');
}
