.clinicItem {
  width: 430px;
  height: 400px;
}

.item_text p {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: #505050;
}
.item_text h2 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 23px;
}
.item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr {
  display: none;
}
